@font-face {
  font-family: "FigtreeBold";
  src:
    url("../fonts/Figtree-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "FigtreeRegular";
  src:
    url("../fonts/Figtree-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "FigtreeSemiBold";
  src:
    url("../fonts/Figtree-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}
